@import "../transitions";

$grid-cell-side-length: 15px;
$grid-cell-padding: 2px;
.grid-size-picker {
    input {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #dadada;
        height: 30px;
        width: 380px;
    }

    table {
        z-index: 1;
        position: absolute;        
        outline: 1px solid #dadada;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);

        td {
            width: $grid-cell-side-length;
            height: $grid-cell-side-length;
            padding: $grid-cell-padding;
            background-color: #eaeaea;

            div {
                outline: 1px solid #AAAAAA;
                width: 100%;
                height: 100%;
                background-color: white;
            }

            &.disabled div {
                outline: none;
                background-color: #dadada;
            }

            &.highlight{
                &:not(.disabled) {
                    div {
                        cursor: pointer;
                    }
                }
            } 

        }
    }

    .table-container {        
        &.hide {
            display: none;
        }
        position: relative;
    }
}

.grid-size-picker:not(.preview-box) {
    table {
        td {
            &.highlight {
                div {
                    outline: 1px solid #0078d7;
                    border: 1px solid #e6f1fb;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.grid-size-picker.preview-box {    
    .preview {            
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        outline: 1px solid #0078d7;
        background: rgba(230,241,251, 0.5);
        box-sizing: border-box;
        pointer-events: none;
        transition: width $transition-function, height $transition-function;
    }
    table {
        td {
        }
    }
}

.grid-size-picker.notches {
    table {
        td {
            position: relative;
            div {                
                outline: none;
                background-color: transparent;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 20%;
                width: 20%;
                border-bottom: 1px solid #888888;
                border-right: 1px solid #888888;
            }

            &.disabled div {
                outline: none;
                background-color: transparent;
                border:none;
            }   
        }
    }
}

.grid-size-picker.invisitile {
    table {
        td {            
            div {
                outline: none;
                background: transparent;
            }

            &.disabled div {
            }   
        }
    }
}