@mixin center-xy() {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.widget {
    $hover-commands-height: 24px;

    position: absolute;
    //border: 1px dashed black;
    .hover-commands {
        position: absolute;
        top: 0;
        right: 0;
        .glyph {
            background: #eff6fc;
            height: $hover-commands-height;
            line-height: $hover-commands-height;
            text-align: center;
            width: $hover-commands-height;
            display: inline-block;
            border: 1px solid #c7e0f4;
            margin: 3px 3px 0 0;
            cursor: pointer;
        }
        display: none;
    }
    &:hover {
        .hover-commands {
            display: block;
        }
    }
    &.loading {
        background-color: white;

        .loading-name {
            display: block;
            font-family: "Segoe UI";
            font-size: 16px;
            margin: 12px 15px;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;

            width: 100px;
            height: 100px;

            &.shift-for-title {
                margin: -38px 0 0 -50px;
            }
        }
    }
    .ms-Spinner {
        @include center-xy();
    }

    &.Ibiza,
    &.IbizaThickOutline,
    &.IbizaSuperThickOutline,
    &.IbizaNoOutline {
        $outline-thickness: 2px;
        &:hover {
            outline: $outline-thickness solid #0078D7;
        }
        .hover-commands {
            background: #0078D7;
            width: calc(100% + #{$outline-thickness} * 2);
            top:0;
            transform: translate($outline-thickness, -100%);
            text-align: right;
            .glyph {
                color: white;
                border: none;
                background: none;
                margin: 0 5px 0 0;
            }
        }
    }

    &.IbizaThickOutline {
        $outline-thickness: 4px;
        &:hover {
            outline-width: $outline-thickness;
        }

        .hover-commands {
            width: calc(100% + #{$outline-thickness} * 2);
            transform: translate($outline-thickness, -100%);
        }
    }

    &.IbizaSuperThickOutline {
        $outline-thickness: 6px;
        &:hover {
            outline-width: $outline-thickness;
        }

        .hover-commands {
            width: calc(100% + #{$outline-thickness} * 2);
            transform: translate($outline-thickness, -100%);
        }
    }

    &.IbizaNoOutline {
        $outline-thickness: 0;
        &:hover {
            outline-width: $outline-thickness;
        }

        .hover-commands {
            width: 100%;
            transform: translate($outline-thickness, -100%);
        }
    }

    &.parallelogram {
        &.Ibiza,
        &.IbizaThickOutline,
        &.IbizaSuperThickOutline,
        &.IbizaNoOutline {
            .hover-commands {
                width: calc(100% - 60px);//66%;

                &::before {
                    content: '';
                    transform: skewX(-45deg);
                    transform-origin: bottom;
                    position: absolute;
                    background-color: #0078D7;
                    width: $hover-commands-height;
                    height: $hover-commands-height;
                    left: -$hover-commands-height;
                }
            }
        }
    }

    &.KanbanNoSpaces {
        .hover-commands {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
            background: #eff6fc;
            top: 3px;
            right: 3px;
            .glyph {
                border: none;
                margin: 3px; 
            }
        }
    }

    .loading-name {
        display: none;
    }
}