@mixin center-xy() {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.widget {
    position: absolute;
    //border: 1px dashed black;
    .hover-commands {
        position: absolute;
        top: 0;
        right: 0;
        img {
            margin-top: 3px;
            margin-right: 3px;
        }
        display: none;
    }
    &:hover {
        .hover-commands {
            display: block;
        }
    }
    &.loading {
        background-color: white;
    }
    .ms-Spinner {
        @include center-xy();
    }
}