@mixin center-xy() {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.widget {
    position: absolute;
    //border: 1px dashed black;
    .hover-commands {
        position: absolute;
        top: 0;
        right: 0;
        .glyph {
            background: #eff6fc;
            height: 24px;
            line-height: 24px;
            text-align: center;
            width: 24px;
            display: inline-block;
            border: 1px solid #c7e0f4;
            margin: 3px 3px 0 0;
            cursor: pointer;
        }
        display: none;
    }
    &:hover {
        .hover-commands {
            display: block;
        }
    }
    &.loading {
        background-color: white;
    }
    .ms-Spinner {
        @include center-xy();
    }
}